@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


:root {
    --main-color: black;
    --main-light: #333;
    --main-shadow: #292929;
    --main-evenlighter: #3b3b3b;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img { display: block;}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    font-family: 'Abel', sans-serif;
}


nav {
    bottom: 0; 
    width: 100%;
  /*  height: 100%; */
    min-width: 25%;
    position: fixed;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    user-select: none;
}

.start li {
    min-width: 3rem;
    display: flex;
    align-items: center;
    color: whitesmoke;
    padding: 0 1rem;
}

.toolbar li {
    display: flex;
    align-items: center;
    color: whitesmoke;
    padding: 0 0.2rem;
    margin: 0 0.1rem;
}

  

.toolbar li:last-child {
    padding-right: 0.5rem;
}


.start img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: 65%;
    width: 100%;
}

.toolbar img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: 50%;
    width: 100%;
}


.start li:hover,
.toolbar li:hover {
    background-color: var(--main-light);
}

/*
.startIcon:hover {
    content: url("./img/start-hover.png");
}
*/


#time {
    font-size: 1.25rem;
}

.taskbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    outline: 2px solid var(--main-light);
    background-color: var(--main-color);
    box-shadow: 0 0.1rem 0.5rem var(--main-light);
}


.startMenu {
    transition:opacity 0.1s ease-in;
    position: absolute;
    bottom: 48px; 
    left: 0; 
    background-color: var(--main-light);
    display: flex;
    min-width: 34rem;
    max-width: 34rem;
    min-height: 42rem;
    max-height: 42rem;
}


.startMenu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 42rem;
}

.controls {
    justify-content: flex-end;
    width: 4rem;
}

.programs {
    animation-name: programsKey;
    animation-duration: 1.5s;
    margin-top: 1rem;
    width: 16rem;
}

@keyframes programsKey {
    0%   {margin-top:6rem;}
    100% {margin-top:1rem}
  }

.appsIcons {
    animation-name: iconsKey;
    animation-duration: 1.7s;
    margin-top: 1rem;
    padding-left: 0.2rem;
    width: 14rem;
}

@keyframes iconsKey {
    0%   {margin-top:4rem;}
    100% {margin-top:1rem}
  }

.programs p {
    color: white;
    display: inline-block;
    padding-left: 0.4rem;
    font-size: 1.5rem;
}

.appsIcons p {
    color: white;
    font-size: 1rem;
}


.startMenu  img {
    width: 1.5rem;
}

.startMenu .programs img {
    width: 2rem;
}

.controls li,
.programs li,
.appsIcons li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.appsIcons li {
    flex-direction: column;
}

.appsIcons li p {
    flex-direction: row;
}

.programs li {
    justify-content: flex-start;
    padding: 0.5rem 0.5rem;
}


.appsIcons li {
    padding: 0;
    width: 8rem;
    height: 8rem;
    margin-bottom: 0.4rem;
    align-content: center;
    background-color: var(--main-evenlighter);
}


.appsIcons img {
    height: 4rem;
    width: auto;
    filter: drop-shadow(3px 3px 6px var(--main-shadow));
}

.appsText {
    font-size: 2rem;
    color:whitesmoke;
    padding: 1rem 0.5rem;
    margin-bottom: 0.1rem;
}

.programs li:hover,
.controls li:hover {
    background-color: var(--main-evenlighter);
    filter: drop-shadow(1px 1px 6px var(--main-shadow));
}

.appsIcons li:hover {
    outline: 0.1rem solid hsla(0, 0%, 96%, 0.636);
    filter: drop-shadow(2px 2px 4px var(--main-shadow));
}
